body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.section-1 {
    display: flex;
    background-color: rgb(217, 189, 194);
    /* background-image: cover; */
    margin-top: 0;
    margin-left: 0;
    font-size: 1.5em;
    font-weight: 700;
    padding: 100px 100px 0px 100px;



}

.half-width {
    width: 50%;


}

button {
    border: 5px solid rgb(207, 203, 203);
    background-color: rgb(176, 10, 110);
    border-radius: 10px;
    padding: 10px;
    font-weight: 700;
    color: white;
    font-size: large;
}

.section-2,

footer h1 {
    text-align: center;
}

.section-2 {
    margin-bottom: 40px;
}

#sec-2-img1 {
    background-color: darksalmon;
    border-radius: 50px;


}

#sec-2-img2 {
    background-color: cadetblue;
    border-radius: 50px;


}

#sec-2-img3 {
    border-radius: 50px;
    background-color: burlywood;
}




.flower-feature {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.flower-feature2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: initial;

    column-gap: 25px;



}

#png-1 {
    background-color: chartreuse;

}

#png-2 {
    background-color: rgb(198, 224, 172);

}

#png-3 {
    background-color: rgb(0, 255, 238);

}

#png-4 {
    background-color: rgb(0, 128, 255);

}

.section-3 {
    display: flex;
    justify-content: space-around;
    background-color: rgb(203, 185, 185);
    margin-bottom: 50px;

}

.subscribe {
    text-align: center;

}

span {
    color: rgb(227, 109, 129);
}

footer {
    background-color: black;
    color: white;
    padding: 50px;
}

.footer-text {
    text-align: center;
}



.image-container {
    position: relative;
    display: inline-block;
    margin-left: 30px;
    padding: 40px;
}

.image-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}