body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.section-1 {
    display: flex;
    background-color: lightpink;
    background-image: cover;
    margin-top: 0;
    margin-left: 0;


}

.half-width {
    width: 50%;

}

button {
    border: 10px solid rgb(207, 203, 203);
    background-color: rgb(176, 10, 110);
    border-radius: 10px;
    padding: 15px;
    font-weight: 700;
    color: white;
    font-size: large;
}

.section-2,
.section-6,
footer h1 {
    text-align: center;
}

.display {
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;


}




.flower-feature {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.flower-feature2 {
    display: flex;
    width: 250px;
    height: 250px;
    flex-shrink: 0;

}

.section-3 {
    display: flex;
    justify-content: space-around;
    background-color: gray;

}

.subscribe {
    text-align: center;
}

span {
    color: pink;
}

footer {
    background-color: black;
    color: white;
    padding: 100px;
}

.footer-text {
    text-align: center;
}